@import 'https://fonts.googleapis.com/css?family=Lato&display=swap';
@import 'https://fonts.googleapis.com/css?family=Lato&display=swap';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header {
  background: url(../images/bg_header.jpg) no-repeat center;
  height: 800px;
  padding-top: 1px;
  font-family: 'lato'; }

.menu {
  padding: 50px; }
  .menu__list {
    display: flex;
    justify-content: center;
    align-items: center; }
  .menu__item {
    display: inline-block; }
  .menu__link {
    color: #4d4959;
    font-family: Lato;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.6px;
    text-decoration: none; }
    .menu__link:hover {
      box-shadow: 0px 0px 20px 7px rgba(0, 0, 0, 0.2);
      background-color: black;
      color: white; }
  .menu__dot {
    display: inline-block;
    margin: 0 45px;
    font-size: 18px; }
  .menu__logo {
    display: inline-block;
    margin: 0 50px; }
    .menu__logo:hover {
      transform: rotateY(180deg);
      transition: .6s; }
    .menu__logo:not(:hover) {
      transition: .6s; }

* {
  box-sizing: border-box; }

@media (min-width: 320px) and (max-width: 640px) {
  .email__text {
    font-size: 34px; }
  .email__input {
    width: 100%;
    height: 79px;
    font-size: 24px;
    margin-bottom: 15px; }
  .email__button {
    width: 100%; } }

.email {
  width: 100%;
  height: 470px;
  background-color: white;
  font: italic 24px "Lato", sans-serif;
  color: #848789;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .email__logo {
    width: 95px;
    height: 85px;
    margin-bottom: 35px;
    transition: transform .8s ease-in-out; }
    .email__logo_hover:hover {
      transform: rotate(360deg); }
  .email__text {
    margin-bottom: 35px; }
  .email__input {
    width: 400px;
    height: 70px;
    border: 1px solid #d3d7d9;
    background-color: white;
    color: #929292;
    font: italic 20px "Lato", sans-serif;
    padding-left: 25px; }
    .email__input_focus:focus {
      outline: 1.5px solid #64c29e;
      box-shadow: 0 0 5px rgba(100, 194, 158, 0.5);
      border: none; }
  .email__button {
    width: 125px;
    height: 70px;
    margin-right: 8px;
    background-color: #64c29e;
    font: 300 24px "Lato", sans-serif;
    color: white;
    text-transform: uppercase;
    border: none;
    outline: none;
    transition: .5s background-color linear, .8s color linear; }
    .email__button_hover:hover {
      background-color: white;
      color: #64c29e;
      outline: 1.5px solid #64c29e;
      box-shadow: 0 0 5px rgba(100, 194, 158, 0.5);
      border: none;
      cursor: pointer; }
  .email__masege {
    font-family: "Lato", sans-serif;
    font-size: 24px; }
    .email__masege_error {
      color: #bd1313; }
    .email__masege_hint {
      color: #211eda; }
    .email__masege_success {
      color: #64c29e; }
