.imgTable {
  width: 100%;
  display: grid;
  grid-template-areas: 's1 s2 mv1 mv2 mh2 mh2' 'mh1 mh1 mv1 mv2 s3 s4';
  grid-template-rows: repeat(2, minmax(200px, 267px));
  grid-template-columns: repeat(6, minmax(200px, 267px));

  &__img {
    background-size: cover;

    &:nth-child(1) {
      grid-area: s1;
      background: url("../images/Layer_19.jpg") no-repeat;
    }

    &:nth-child(2) {
      grid-area: s2;
      background: url("../images/Layer_21.jpg") no-repeat;
    }

    &:nth-child(3) {
      grid-area: s3;
      background: url("../images/Layer_24.jpg") no-repeat;
    }

    &:nth-child(4) {
      grid-area: s4;
      background: url("../images/Layer_26.jpg") no-repeat;
    }

    &:nth-child(5) {
      grid-area: mv1;
      background: url("../images/Layer_22.jpg") no-repeat;
    }

    &:nth-child(6) {
      grid-area: mv2;
      background: url("../images/Layer_25.jpg") no-repeat;
    }

    &:nth-child(7) {
      grid-area: mh1;
      background: url("../images/Layer_20.jpg") no-repeat;
    }

    &:nth-child(8) {
      grid-area: mh2;
      background: url("../images/Layer_23.jpg") no-repeat;
    }
  }

  &__block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #64c29e;
    opacity: 0;
    height: 100%;
    transition: opacity 0.6s linear;
  }

  &__picture {
    width: 50px;
    height: 30px;
    align-self: center;
    margin-bottom: 13px;
  }

  &__element {
    align-self: center;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 14px;
  }

  &__img:hover > &__block {
    opacity: 0.8;
  }
}
