$footerBgcolor: rgb(247, 247, 247);
$footerTextColor: rgb(132, 135, 137);
$footerHoverColor: rgb(100, 194, 158);
$footerFont: 'Lato', sans-serif;
$footerFontSize: 14px;
$footerHeaderFS: 16px;
$footerBoldFont: 700;