
$footerBgcolor: rgb(247, 247, 247);
$footerTextColor: rgb(132, 135, 137);
$footerHoverColor: rgb(100, 194, 158);
$footerFont: 'Lato', sans-serif;
$footerFontSize: 14px;
$footerHeaderFS: 16px;
$footerBoldFont: 700;
$emailMainColor: rgb(255, 255, 255);
$emailTextColor: rgb(132, 135, 137); 
$inputTextColor: rgb(146, 146, 146);
$inputBorderColor: rgb(211, 215, 217);
$emailSecondColor: rgb(100, 194, 158);
$shadowColor: rgba(100, 194, 158,.5);
$errorColor: rgb(189, 19, 19);
$hintColor: rgb(33, 30, 218);

$emailFontSize: 24px;
$inputFontSize: 20px;

$emailFont: 'Lato', sans-serif;

$element-mb: 35px;
